.editor-post-title__block .editor-post-title__input {
  font-size: 30px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.editor-block-list__block {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #929292;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-block-list__block h1,
.editor-block-list__block h2,
.editor-block-list__block h3,
.editor-block-list__block h4,
.editor-block-list__block h5,
.editor-block-list__block h6 {
  font-weight: 600;
  margin: 0 0 20px;
  color: #333;
  line-height: 1.4;
}

.editor-block-list__block h1 {
  font-size: 23px;
}

.editor-block-list__block h2 {
  font-size: 20px;
}

.editor-block-list__block h3 {
  font-size: 18px;
}

.editor-block-list__block h4 {
  font-size: 17px;
}

.editor-block-list__block h5 {
  font-size: 15px;
}

.editor-block-list__block h6 {
  font-size: 14px;
}

.editor-block-list__block .theme-heading {
  font-size: 14px;
  letter-spacing: 1.3px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.editor-block-list__block .theme-heading .text::before {
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 18px;
  font-weight: 600;
  color: #13aff0;
  padding-right: 6px;
}

.editor-block-list__block p {
  margin: 0 0 20px;
}

.editor-block-list__block abbr[title],
.editor-block-list__block dfn[title] {
  cursor: help;
}

.editor-block-list__block del {
  vertical-align: baseline;
  text-decoration: line-through;
  color: #aaa;
}

.editor-block-list__block code,
.editor-block-list__block kbd,
.editor-block-list__block pre,
.editor-block-list__block samp {
  font-size: 16px;
}

.editor-block-list__block pre {
  margin: 20px 0;
  padding: 20px;
  color: #2080ad;
  background-color: #fafafa;
}

.editor-block-list__block code {
  color: #2080ad;
}

.editor-block-list__block blockquote {
  font-style: italic;
  margin: 20px 40px;
  padding-left: 20px;
  border-left-width: 3px;
  border-style: solid;
  border-color: #13aff0;
}

.editor-block-list__block blockquote cite {
  position: relative;
  display: block;
  padding: 10px 0 0 20px;
  color: #555;
}

.editor-block-list__block blockquote cite:before {
  position: absolute;
  left: 0;
  content: "\2014";
}

.editor-block-list__block q:before,
.editor-block-list__block q:after,
.editor-block-list__block blockquote:before,
.editor-block-list__block blockquote:after {
  content: "";
}

.editor-block-list__block address {
  display: block;
  margin: 0 0 20px;
}

.editor-block-list__block ul,
.editor-block-list__block ol {
  margin: 15px 0 15px 0;
}

.editor-block-list__block ol {
  list-style-type: decimal;
}

.editor-block-list__block ol ol {
  list-style: upper-alpha;
}

.editor-block-list__block ol ol ol {
  list-style: lower-roman;
}

.editor-block-list__block ol ol ol ol {
  list-style: lower-alpha;
}

.editor-block-list__block li ul,
.editor-block-list__block li ol {
  margin: 0 0 0 25px;
}

.editor-block-list__block dl {
  margin: 20px;
}

.editor-block-list__block dt {
  font-weight: 700;
}

.editor-block-list__block dd {
  margin-bottom: 20px;
}

.mce-content-body a {
  color: #333;
}

.mce-content-body a:hover {
  color: #13aff0;
}

.mce-content-body a.light {
  color: #fff;
}

.mce-content-body a.light:hover {
  color: #13aff0;
}

.mce-content-body a, .mce-content-body a:hover, .mce-content-body a:focus {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.editor-writing-flow {
  height: fit-content;
}
