/* Tablet styles only*/

@media screen and (max-width: 782px) {


  .tablet-hide {
    display: none;
  }

  ul#menu-top_menu li.menu-item a.menu-link {
      margin-left: 0px !important;
      background-color: #4fb0ec;
      padding: 7px 4px;
  }

  ul#menu-top_menu li.menu-item a.menu-link .menu-text  {
    display:none;
  }

  ul#menu-top_menu li.menu-item a.menu-link .icon {
      font-size: 0.9em !important;
      padding-left: 5px;
  }

  ul#menu-top_menu li.menu-item a.menu-link .icon:hover {
    opacity: 0.74;
  }

  ul#menu-top_menu {
    margin-right: 5px;
  }

  #header-wishlist span.wishlist_products_counter_number {
      top: 4px !important;
      left: -0.5rem !important;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
      grid-template-columns: repeat(3,1fr);
  }

  .woocommerce table.shop_table thead {
    display: none;
  }

  .woocommerce table.shop_table td {
      display: block;
      text-align: right !important;
    }

  .woocommerce table.shop_table td::before {
      content: attr(data-title) ": ";
      font-weight: 700;
      float: left;
  }

  .custom-menu-widget .oceanwp-custom-menu>ul>li {display: inline-block !important; }

}

@media (min-width: 769px) and (max-width: 782px) {

  span.woocommerce-Price-amount.amount {
    font-size: 10px !important;
  }

  img.woo-entry-image-main.wp-post-image {
    height: 134px !important;
  }

  .woocommerce ul.products li.product .woo-entry-inner li.image-wrap {
    margin-right: 40px !important;
    margin-left: -10px !important;
  }

	div#header-wishlist span.wishlist_products_counter_number {
    	margin-left: 73% !important;
	}
  .container, body.content-full-screen .elementor-section-wrap > .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 96%;
  }

  /* UP - 7/24/19 */

}

@media (min-width: 769px) and (max-width: 950px) {
	.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    	padding: 0px !important;
	}
} 

@media (min-width: 769px) {


  div#header-easyinhouse {
    margin-left: 53px !important;
    margin-right: -55px !important;
    margin-top: 26px !important;
  }

  div#header-promo {
    /*height: 30% !important;*/
    /*width: 100% !important;*/
    margin-top: -25px !important;
    margin-left: 35px !important;
  }

	.ribbon {
	   font-size: 11px !important;
	   top: 7px !important;
	   width: 68px !important;
	   right: -20px !important;
	   padding: 3px !important;
	   font-weight: normal !important; 
	}

  .single-product .related .ribbon {
    top: 16px !important;
    width: 89px !important;
    right: -16px !important;
}
	/* UP - 7-22-19 */


}


@media (min-width: 767px) and (max-width: 768px) {

  .sale-discount-price-loop {
    padding: 8px;
  }
  
  .widget-area.sidebar-primary, .widget-area.sidebar-secondary, .content-left-sidebar .widget-area {
    visibility: hidden;
    height: 0px;
  }

  .woocommerce div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger{

    z-index: 1;
  }

  /*  .widget-area.sidebar-primary, .widget-area.sidebar-secondary, .content-left-sidebar .widget-area {
    height: 0px;
    visibility: hidden;
  }*/
  .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button, .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.icon-white:before, .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.icon-black:before {
    color: #f906a2;
    font-size: 30px !important;
    margin-top: -10px !important;
    margin-left: 7px !important;
  }

  span.tinvwl_add_to_wishlist-text {
    display: none !important;
  }

  span.tinvwl_remove_from_wishlist-text {
    display: none !important;
  }

  .tinv-modal.tinv-modal-open .tinv-overlay {
    visibility: visible !important;
    opacity: 0.3 !important;
  }

  button.button.tinvwl_button_view.tinvwl-btn-onclick, button.button.tinvwl_button_close {
    display: none;
  }

  .tinv-txt {
    color: #fff;
    opacity: 1;
    filter: contrast(1.5) !important;
  }

  .tinv-modal-inner {
    opacity: 0.6;
    background-color: #000000 !important;
  }

  i.icon_big_heart_check, i.icon_big_times {
    color: #fff !important;
    background-color: #ff0bd8;
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
    padding: 5px 7px 0px 7px;
  }

  .oceanwp-loginform-wrap {
    margin-top: 70px !important;
  }

  span.fa.fa-fw.fa-eye.field-icon.toggle-password {
    margin-right: 7px !important;
  }

  .xoo-el-wrap, .xoo-el-main {
    display: block;
    width: 97%;
    margin-left: 10px !important;
    margin-top: 10px !important;
  }

  .xoo-el-popup-active .xoo-el-modal {
    opacity: 1 !important;
    transform: scale(.90) !important;
  }

  a.button.product_type_simple {
    margin-left: 15px !important;
  }

  a.button.product_type_woosb.add_to_cart_button.ajax_add_to_cart {
    margin-left: 15px !important;
  } 

  div#mc4wp_form_widget-3 {
/*    margin-top: 16px !important;
    margin-left: 106px !important;
    width: 275px !important;
*/  }

  input.required.email {
    width: 83% !important;
    display: block !important;
  }

  button.button-newsletter {
    /*margin-top: -4px !important;*/
    width: 85% !important;
    display: block !important;
  }

  .footer-box.span_1_of_4.col.col-4 {
    /*margin-top: -140px !important;*/
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  div#media_gallery-5 {
/*    width: 238px !important;
    margin-left: 0px !important;
    margin-top: 71px !important;
*/  }

  div#text-5 {
    /*margin-top: -273px !important;*/
    /*margin-left: 455px !important;*/
    /*width: 204px !important;*/
  }

  div#ocean_custom_menu-7 {
    /*margin-left: -70px !important;*/
  }

  .elementor-heading-title.elementor-size-small {
    font-size: 12px !important;
  }

  h4.elementor-heading-title.elementor-size-default {
    font-size: 16px !important;
  }

  .outofstock-badge {
    margin-left: 17% !important;
  }

  .elementor-6 .elementor-element.elementor-element-889ff4a {
    /*margin-top: 86px !important;*/
    padding: 0px 25px 0px 25px !important;
  }
  
  .page-id-282 #main #content-wrap, .single-product #main #content-wrap {
    margin-top: -22px !important;
    padding: 0px !important;
  }

  /* UP - 7/17/19 */

  a.button.product_type_woosb.add_to_cart_button.ajax_add_to_cart {
    width: 140px !important;
  }

  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    width: 140px !important;
  }

  a.button.product_type_simple {
    width: 140px !important;
  }

  .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button, .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button.icon-white:before, .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button.icon-black:before {
    color: #007acc;
    margin-left: -24px !important;
    margin-top: -7px !important;
  }

  a.tag-cloud-link.tag-link-455.tag-link-position-5 {
    display: none !important;
  }

  div#content-wrap {
    margin-top: -96px !important;
  }

  button.button.tinvwl-break-input.tinvwl-break-checkbox {
    margin-left: 5px !important;
  }

  .tinvwl-input-group.tinvwl-no-full {
    margin-left: 10px !important;
  }

  .tinvwl-to-right.look_in {
    margin-left: 10px !important;
  }

  img.woo-entry-image-secondary.wp-post-image {
    display: none !important;
  }

  .woocommerce ul.products li.product .woo-entry-inner {
    text-align: left;
    margin-top: -40px !important;
    margin-left: -9px !important;
    margin-bottom: -4px;
    margin-right: 0px;
  }

  p#breadcrumbs {
    padding-left: 20px !important;
    visibility: hidden;
  }

  header#search-header {
    padding: 0px 0px 0px 0px !important;
  }

  .sticky-search-suggestions {
    margin-left: 12px !important;
  }

  div#header-easyinhouse {
    margin-left: 40px !important;
    margin-right: -85px !important;
    margin-top: -10px !important;
  }

  div#header-promo {
    height: 30% !important;
    width: 50% !important;
    margin-top: -25px !important;
    margin-left: 50px !important;
  }

  div#header-wishlist span.wishlist_products_counter_number {
    margin-left: 119% !important;
    top: 1% !important;
  }

  .elementor-1069 .elementor-element.elementor-element-bac5bc9 .elementor-image img {
    width: 100%;
    max-width: 100%;
    margin-top: 47px !important;
    margin-left: 20px !important;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
    grid-template-columns: repeat(3,1fr);
    /*height: 619px !important;*/
  }

  .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom.no-txt img,
  a.wishlist_products_counter.top_wishlist-custom.no-txt img,
  span.wishlist_products_counter.top_wishlist-custom.no-txt img {
    margin-right: 0 !important;
    margin-top: 24px !important;
  }

  #header-wishlist a {
    color: #fff !important;
    margin-left: 47% !important;
  }

  #header-wishlist span.wishlist_products_counter_number {
    margin-left: 125% !important;
    margin-top: -11% !important;
  }

}
