/* desktop only*/
@media  (min-width: 1025px){

	.tax-berocket_brand.content-left-sidebar .widget-area{
    padding-top: 417px;
  }

	.woocommerce .oceanwp-off-canvas-filter {
    visibility: hidden;
    float: none;
  }


  /* UP - 7/23/19 */

  ul.products.eael-product-columns-6 {
    width: 100% !important;
  }


  .products .product .tinv-wraper.tinv-wishlist {
    right: auto !important;
    margin-top: -5px !important; 
  }


  .woocommerce .oceanwp-grid-list {
    float: left;
    margin: 0 -70px 0 0;
  }

  .tinv-wishlist .tinvwl_add_to_wishlist_button.icon-black:before, a.wishlist_products_counter.top_wishlist-black:before, span.wishlist_products_counter.top_wishlist-black:before {
      color: #007acc;
  }

  .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button {
    padding-right: 14px;
    margin-top: 0px !important; 
    padding-left: 25px;
  }

  img.woo-entry-image-main.wp-post-image {
  margin-top: 0px !important;
  }

  div#search-header-wrapper {
    margin-right: 40px !important;
  }

  div#header-easyinhouse {
    margin-left: 40px !important;
    margin-right: -85px !important;
    margin-top: -10px !important;
  }

  div#header-promo {
    height: 30% !important;
    width: 70% !important;
    margin-top: -21px !important;
    margin-left: 30px !important;
  }

  #header-wishlist span.wishlist_products_counter_number {
    margin-left: 0% !important;
    margin-top: -2% !important;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {

	.tax-berocket_brand.content-left-sidebar .widget-area{
    padding-top: 417px;
  }

	.woocommerce .oceanwp-off-canvas-filter {
    visibility: hidden;
    float: none;
  }

  /*  .woocommerce .oceanwp-grid-list {
      float: left;
      margin: 0 -70px 0 0;
  }

  .tinv-wishlist .tinvwl_add_to_wishlist_button.icon-black:before, a.wishlist_products_counter.top_wishlist-black:before, span.wishlist_products_counter.top_wishlist-black:before {
      color: #007acc;
  }

    .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button {
      padding-right: 14px;
      margin-top: 0px !important; 
      padding-left: 25px;
  }*/

  .desktop-hide {display: none}

  .sticky-logo-image {
    width: 18% !important;
  }
  .sticky-search {
    width: 50% !important;
  }

  .sticky-search-suggestions {
    margin-left: 12px !important;
  }
  /*.sticky-cats {
    display: inline-block !important;
    width: 32% !important;
    right: 0 !important;
    margin-right: -200px !important;
  }*/
}

@media (min-width: 780px) and (max-width: 1024px) {

	.tax-berocket_brand.content-left-sidebar .widget-area{
    padding-top: 417px;
  }

	.woocommerce .oceanwp-off-canvas-filter {
    visibility: hidden;
    float: none;
  }

  .woocommerce ul.products li.product .price del .amount {
    color: #666 !important;
    font-size: 11px !important;
  }

  .woocommerce ul.products li.product .price .amount {
    color: red !important;
    font-size: 13px !important;
  }

  .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button, .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.icon-white:before, .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.icon-black:before {
    color: #f906a2;
    font-size: 30px !important;
    margin-top: -10px !important;
  }


  /* UP - 7/23/19 */

  div#header-easyinhouse {
    margin-left: 53px !important;
    margin-right: -55px !important;
    margin-top: 26px !important;
  }

  div#header-promo {
    height: 30% !important;
    width: 50% !important;
    margin-top: -8px !important;
    margin-left: 46px !important;
  }
}

@media  (min-width: 769px) and (max-width: 1024px) {

	.tax-berocket_brand.content-left-sidebar .widget-area{
    padding-top: 417px;
}

.woocommerce .oceanwp-off-canvas-filter {
    visibility: hidden;
    float: none;
}
/*
  .elementor-1069 .elementor-element.elementor-element-000aea4 > .elementor-widget-container {
    margin: 0px -84px 0px 45px;
  }*/

  span.tinvwl_add_to_wishlist-text, span.tinvwl_remove_from_wishlist-text {
    display: none !important;
  }

  a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.icon-black.no-txt.tinvwl-position-shortcode.ftinvwl-animated {
    margin-top: -5px !important;
  }

  /* UP - 7/23/19 */

  ul.products.eael-product-columns-6 {
    width: 100% !important ;
  }

  img.woo-entry-image-main.wp-post-image{
    margin : 0% !important;
  }

  .woocommerce .oceanwp-grid-list {
    float: left;
    margin: 0 -70px 0 0;
  } 

  .tinv-wishlist .tinvwl_add_to_wishlist_button.icon-black:before, a.wishlist_products_counter.top_wishlist-black:before, span.wishlist_products_counter.top_wishlist-black:before {
    color: #007acc;
  }

  .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button {
    padding-right: 14px;
    margin-top: 0px !important; 
    padding-left: 25px;
  }

 .woocommerce ul.products li.product.outofstock .outofstock-badge {
    left: 0px;
  }

  .sticky-logo-image {
    width: 18% !important;
  }

  .sticky-search {
    width: 50% !important;
  }

  .sticky-search-suggestions {
    margin-left: 12px !important;
  }

  /*#home-banner-01, #home-banner-02, #home-banner-03, #home-banner-04 {
    width: 40%;
    max-width: 40%;
  }*/

  .woocommerce ul.products li.product .product-inner {
    overflow: hidden;
    padding-bottom: 0px !important;
    margin-bottom: -20px !important;
    width: 150px !important;
  }

/*  div#search-header-wrapper {
    margin-right: -9px !important;
    margin-left: 105px !important;
  }
*/
  header#search-header {
    padding: 0px 0px 0px 0px !important;
  }

  div#header-wishlist span.wishlist_products_counter_number {
    margin-left: 4%;
    top: -7% !important;
    float: right;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
    grid-template-columns: repeat(6,1fr);
    height: 300px !important;
  }

  #header-wishlist span.wishlist_products_counter_number {
    margin-left: 7% !important;
    margin-top: 11% !important;
  }

  .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom.no-txt img, a.wishlist_products_counter.top_wishlist-custom.no-txt img, span.wishlist_products_counter.top_wishlist-custom.no-txt img {
    margin-right: -18px !important;
    margin-top: 20px !important;
  }

  .woocommerce ul.products li.product .woo-entry-inner li:last-child {
    margin-bottom: 33px;
  }

  .elementor-1069 .elementor-element.elementor-element-2b2426f {
    width: 15% !important;
  }

}

@media  (min-width: 769px) {
  .woocommerce-cart table.cart img {
    max-width:90px !important;
  }

  table.shop_table.woocommerce-checkout-review-order-table .product-thumbnail {
      width: 120px;
      max-width: 120px;
  }

  form.woocommerce-cart-form {
    float: left !important;
    width: 60% !important;
  }

  .woocommerce-page .cart-collaterals .cart_totals {
    float:left;
    width: 35% !important; 
    margin-left:5%;
  }

  .woocommerce table.shop_table {
    background-color: white !important;
  }
  .woocommerce table.shop_table td {
    vertical-align: top !important
  }

  .woocommerce table.shop_table td a {
    font-size: 10px;
    color: #0000008c;
  }
}

/*  BREADCRUMBS */
@media only screen and (max-width: 959px) {
  #breadcrumbs {
      max-width: 96% !important;
  }
}

/*COMMENT THIS....*/
/*@media (min-width: 768px) and (max-width: 1023px) {

  .sticky-logo-image {
    width: 18% !important;
  }
  .sticky-search {
    width: 50% !important;
  }

  .sticky-search-suggestions {
    margin-left: 12px !important;
  }

  .elementor-3463 .elementor-element.elementor-element-38a244fb > .elementor-widget-container {
    padding: 20px 40px 60px 40px;
  }

  .elementor-3463 .elementor-element.elementor-element-1f063848 > .elementor-widget-container {
    padding: 20px 40px 60px 40px;
  }

  .elementor-3463 .elementor-element.elementor-element-678531d > .elementor-widget-container,
  .elementor-3463 .elementor-element.elementor-element-eabc203 > .elementor-widget-container,
  .elementor-3463 .elementor-element.elementor-element-48db9787 > .elementor-widget-container {
    padding: 20px 40px 60px 40px;

  }

  .elementor-3463 .elementor-element.elementor-element-6751a5e > .elementor-widget-container {
    padding: 20px 40px 86px 40px;

  }


  .elementor-3463 .elementor-element.elementor-element-7688e752 {
    padding: 15px 0px 163px 0px;
  }

  .woocommerce ul.products li.product .woo-entry-inner {
    padding: 20px;
      text-align: left;
      margin-top: 0px !important;
      margin-left: 10px !important;
      margin-bottom: 0px;
      margin-right: 0px;
  }

  .elementor-8 .elementor-element.elementor-element-16c9ae4c > .elementor-widget-container {
    padding: 12px 5px 103px 5px;
  }

  .quantity {
    position: inherit;
    float: none;
   
    padding-bottom: 0px;
    overflow: hidden;
    zoom: 1;
    min-width: 110px;
  }

  button.single_add_to_cart_button.button.alt {
    margin-left: 20px !important;
  }


  .woocommerce ul.products li.product .woo-entry-inner {
      height: 342px;
      text-align: left;
      margin-top: 0px !important;
      margin-left: 10px !important;
      margin-bottom: 0px;
      margin-right: 0px;
      width: 202px;
  }

  a.tinvwl_add_to_wishlist_button.tinvwl-icon-custom.icon-black.no-txt.tinvwl-position-after.ftinvwl-animated.no-lightbox {
      margin-top: -7px !important;
      margin-left: -47px !important;
      position: inherit;
  }

  .elementor-2675 .elementor-element.elementor-element-512b8903 a.elementor-button, .elementor-2675 .elementor-element.elementor-element-512b8903 .elementor-button {
      margin-top: 88px;
      font-size: 15px;
      letter-spacing: 1.5px;
      color: #ffffff;
      background-color: #91e3ea;
      border-radius: 100px 100px 100px 100px;
  }

  .elementor-2675 .elementor-element.elementor-element-70d962b6 a.elementor-button, .elementor-2675 .elementor-element.elementor-element-70d962b6 .elementor-button {
      margin-top: 63px;
      font-size: 15px;
      letter-spacing: 1.5px;
      background-color: #91e3ea;
      border-radius: 100px 100px 100px 100px;
  }

  .elementor-2675 .elementor-element.elementor-element-596deda5 a.elementor-button, .elementor-2675 .elementor-element.elementor-element-596deda5 .elementor-button {
      margin-top: 17px;
      font-size: 15px;
      letter-spacing: 1.5px;
      background-color: #91e3ea;
      border-radius: 100px 100px 100px 100px;
  }

  .elementor-2675 .elementor-element.elementor-element-10fae7d0 a.elementor-button, .elementor-2675 .elementor-element.elementor-element-10fae7d0 .elementor-button {
      margin-top: 80px;
      font-size: 15px;
      letter-spacing: 1.5px;
      background-color: #91e3ea;
      border-radius: 100px 100px 100px 100px;
  }

  .elementor-1804 .elementor-element.elementor-element-a7b90dc a.elementor-button, .elementor-1804 .elementor-element.elementor-element-a7b90dc .elementor-button {
      margin-top: 17px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-833c6a4 a.elementor-button, .elementor-1804 .elementor-element.elementor-element-833c6a4 .elementor-button {
      margin-top: 38px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-be9906e a.elementor-button, .elementor-1804 .elementor-element.elementor-element-be9906e .elementor-button {
      margin-top: 17px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-067badc a.elementor-button, .elementor-1804 .elementor-element.elementor-element-067badc .elementor-button {
      margin-top: 21px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-9744ee5 a.elementor-button, .elementor-1804 .elementor-element.elementor-element-9744ee5 .elementor-button {
      margin-top: 43px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-b7aab27 a.elementor-button, .elementor-1804 .elementor-element.elementor-element-b7aab27 .elementor-button {
      margin-top: 42px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-920d67e a.elementor-button, .elementor-1804 .elementor-element.elementor-element-920d67e .elementor-button {
      margin-top: 22px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-92aff5a a.elementor-button, .elementor-1804 .elementor-element.elementor-element-92aff5a .elementor-button {
      margin-top: 44px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-78f74ca a.elementor-button, .elementor-1804 .elementor-element.elementor-element-78f74ca .elementor-button {
      margin-top: 23px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-6e1ecff a.elementor-button, .elementor-1804 .elementor-element.elementor-element-6e1ecff .elementor-button {
      margin-top: 45px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .elementor-1804 .elementor-element.elementor-element-36ea07c a.elementor-button, .elementor-1804 .elementor-element.elementor-element-36ea07c .elementor-button {
      margin-top: 21px;
      color: #ea6262;
      background-color: #ffffff;
  }

  .ribbon {
    position: absolute;
    background: #ED9121 !important;
    color: white !important;
    font-weight: bold !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    top: -3px;
    width: 126px;
    right: -61px;
    padding: 3px;
    z-index: 10;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
  }

  #header-wishlist span.wishlist_products_counter_number {
    top: 4px !important;
    left: -0.5rem !important;
  }

}*/


