#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link,
#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover {
    /*padding: 5px 0px 5px 5px !important;*/
    background: rgb(255,255,255,0) !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    font-weight: normal;
}

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link {
    background: rgb(255,255,255,0) !important;
}

/*
#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3064b7;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -o-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}*/

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus img {
    border-radius: 58px;
    height: 40px;
    margin-right: 5px;
}

html {
  scroll-behavior: smooth;
}

.conflict-icon-font-awesome i {
    color: white;
}

#header-search-product { margin-bottom: 0 !important;}

#fb-login-wrapper div.nsl-container .nsl-button {
    border-radius: 0px !important;
}

#fb-login-wrapper div.nsl-container-block .nsl-container-buttons a {
	max-width: calc(100% - 20px) !important;
}

.woocommerce ul.products li.product {
    border: #dadada !important;

}

a.button.add_to_cart_button.ajax_add_to_cart {
	border-radius: 3rem !important;
    border: 0px !important;
    font-size: 9px !important;
    text-transform: uppercase !important;
}
.woocommerce ul.products li.product .product-inner .added_to_cart {
    border-radius: 3rem !important;
    border: 0px !important;
    font-size: 9px !important;
    text-transform: uppercase !important;
    background-color: #e4e4e4 !important;
    color: #064a67 !important;
}

.products .product .tinv-wraper.tinv-wishlist{
	position:relative;
	top:auto !important;
	visibility:visible !important;
	-moz-opacity:1 !important;
	-webkit-opacity:1 !important;
	opacity:1 !important;
    display: inline-block;
}

.products .product:hover .tinv-wraper.tinv-wishlist,
.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart:hover{
	visibility:visible;-moz-opacity:1;-webkit-opacity:1;opacity:1;
	animation-name: elementor-animation-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-position-after {
  /*  margin-left: 0px !important;
    margin-right: 30px !important;
    height: 10px;
    width: 15px;
    margin-top: 250px !important;*/
}

.ribbon{
	position: absolute;
    background: #ED9121 !important;
    color: white !important;
    font-size: 12px !important;
    font-weight: bold !important;
	 -webkit-transform: rotate(45deg);
	 -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	   -o-transform: rotate(45deg);
	      transform: rotate(45deg);
    text-align: center;
    top: 16px;
    width: 102px;
    right: -24px;
    padding: 3px;
    z-index:10;
    -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.owp-qv-content-inner .product {
    overflow: hidden !important;
}

.owp-qv-content-wrap .ribbon {
    width: 145px !important;
    right: -35px !important;
    top: 24px !important;
}

.owp-qv-content-inner .woocommerce div.product .product_title {
    font-size: 20px !important;
    max-width: calc(100% - 20px) !important;
}



.woocommerce div.product .product_meta {
	border-top: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
}

.woocommerce div.product form.cart {
	/*padding: 0 !important;*/
    margin-top: 40px !important;
	border-top: 0 !important;
	border-bottom: 0 !important;	
}

.woosb-products .woosb-product .woosb-title {
    flex-grow: 0 !important;
}

.woocommerce div.product div.summary p.in-stock{
	display: inline-block;
    margin-bottom: 0 !important; 
    color: white !important;
}

.owp-qv-content-inner .woocommerce div.product div.summary p.in-stock {
	display: inline-block;
	margin-bottom: 0px !important; 
}

.woocommerce div.product div.summary .price ins span.woocommerce-Price-amount.amount {
	font-size: 18px !important;
	margin-top:  0 !important;
}
.woocommerce div.product div.summary .price del span.woocommerce-Price-amount.amount {
    color: #3e3d3d !important;
    margin-top:  0 !important;
    font-size: 15px;
}
#owp-qv-content div.product div.summary p.price {
	margin-top:17px !important;
}
#owp-qv-content div.product div.summary p.price 
 {
	margin-top: 17px !important;
}
a#oceanwp-list {
    visibility: hidden;
}
a#oceanwp-grid {
    visibility: hidden;
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom img {
	max-width: 25px !important;
    max-height: 25px !important;
}

.woocommerce ul.products li.product .woo-entry-inner li.image-wrap {
	margin-left: -10px !important;
    /*padding-left: 10px !important;*/
}



.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart {
	float: left !important;
/*    margin-top: -20px !important;
    margin-left: 26px !important;
*/}



button.single_add_to_cart_button.button.alt {
	float:left;
}

.qv-full-content {
    margin-bottom: 15px !important;
}
.qv-short-content {
	margin-top: -14px;
}
a#qv-read-more {
	color: #13aff0;
}

a#qv-read-more:hover {
	text-decoration: underline;
}

#quick_product_description {
	/*margin-bottom: 15px !important;*/
}

.stock_text {
	font-weight: 600;
	 color: #333;
         font-size: 13px;
             float: left;
}
#stock-availability .label-green {
        float: left;
}

.owp-qv-content-inner .woocommerce div.product div.summary #qv-read-more {
	display: block;
}

.single_product_title h1.product_title.entry-title{
	color: #13aff0;
    color: black !important;
    visibility: visible;
    margin-top: 15px !important;
    margin-bottom: -25px !important;
}

.single_product_title h1.product_title.entry-title:hover{
	text-decoration: underline;
}

/*.woocommerce ul.products li.product */
.woocommerce ul.products li.product .product-inner {
	overflow: hidden;
	padding-bottom: 8px !important;
}


.woocommerce div.product div.woocommerce-product-details__short-description {
    margin-top: 10px !important;
    font-size: 12px !important;
}
.woocommerce div.product div.woocommerce-product-details__short-description h6 {
    margin-bottom: 5px !important;
}
.woocommerce div.product div.woocommerce-product-details__short-description ul {
    margin-top: 0px !important;
}

.woocommerce div.product .my-social-share {
    display: inline-block;
    margin-top: 15px; 
}

.social-share-label {
    display: inline-block;
    margin-top: 30px;
    vertical-align: top;
}

.woocommerce div.product .my-social-share ul {
    float: none;
}
.woocommerce div.product .my-social-share ul li {
    float: left;
    margin-right: 10px;
}
.woocommerce div.product .my-social-share ul li:last-child {
    margin-right: 0;
}
.woocommerce div.product .my-social-share ul li a {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}
.woocommerce div.product .my-social-share ul li a:hover {
    opacity: 0.6;
}
.woocommerce div.product .my-social-share ul li.twitter a {
    background-color: #00aced;
}
.woocommerce div.product .my-social-share ul li.facebook a {
    background-color: #3b5998;
}
.woocommerce div.product .my-social-share ul li.pinterest a {
    background-color: #cb2027;
}
.woocommerce div.product .my-social-share ul li.email a {
    background-color: #3fc387;
}

.label-green {
    background-color: #399639;
    font-size: 10px;
    color: white !important;
    padding: 2px 6px;
    border-radius: 13px;
    text-transform: uppercase;
    margin-left: 10px !important;
}

.stock .in-stock {
    color: white !important;
}

.woocommerce .summary .my-social-share ul {
    list-style: none !important;
}    

.xoo-el-modal  {
    z-index: 1000000000 !important;
}

#breadcrumbs {
    background-color: white;
    padding: 5px 2px;
    width: 1200px;
    max-width: 90% !important;
    margin: 0 auto;
    display: none;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--change-password a:before {
    content: '\f005';
}

.search_query {
    width: 80% !important;
    margin-left:10% !important;
    float: left !important;
     outline: 0;
    background-color: white !important;
}
.search_branch_bt {
    float:left;
    padding: 14px 12px !important;
}

.search_query,.clear_search,#searchform {
    position: relative;
    padding: 10px;
}

.clear_search {
    border:1px solid transparent;
    background-color: transparent;
    display: none;
    vertical-align: middle;
  outline: 0;
  cursor: pointer;
  padding: 13px 0px 24px 0px !important;
  margin-left: -11px;
}
.clear_search:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #838B8B;
    z-index:1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 10px !important;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 10px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}

.search_query:not(:valid) ~ .clear_search {
    display: none !important;
}

div.store-container {
    float:left !important;
}


.single-product .available-on-backorder {
  display:none;
}

.xoo-el-username-menu img.avatar {
    display:none !important;
}

.footer-box figure.gallery-item {
    width: 20% !important;
    margin: 0 !important;
}

div#copyright p {
    color: #a2a5b4 !important;
}

.mega-menu-right {
    float: right !important; 
    margin-right: 5% !important; 
}

.sticky-class img {
/*    margin-top: 15px !important;
    margin-left: 5% !important;
    width:100px;*/
}
.hide {
    display: none !important;
}

.hide-on-scroll {
    display: none !important;
}

#categories-mobile-menu {
    
}

#footer-sticky-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(255,255,255,.2);
    box-shadow: 0 0 6px rgba(0,0,0,.7);
    z-index:9999;
}
#ft-col {
    cursor: pointer;
}
.mc4wp-alert .mc4wp-success {
    background-color: #00c4ff59 !important;
    padding: 5px !important;
    border-radius: 5px !important;
}

.mc4wp-alert .mc4wp-success p {
    margin: 0px !important;
    color: white!important;
}    

.wcppec-checkout-buttons {
    display: none !important
}

#customer_billing_details,.checkout_shipping {
   padding: 9px;
    margin-top: -20px;
    background-color: white;
}    

.elementor-1069 .elementor-element.elementor-element-0f87e52 {
    z-index: 0 !important;
}

.page-id-283 #main #content-wrap {
    padding-top:0px !important;
}
woocommerce-info {
   background-color: #009ACD !important;
}

.woocommerce-MyAccount-tabs .oceanwp-user-profile {display: none !important}



#newsletter_knees {display: none}
.woocommerce ul.products li.product:hover {
    box-shadow: 0px 9px 22px -11px rgba(115,115,115,0.87)  !important;
}

.single-product .entry-content {
	overflow:hidden;
}
.single-product .ribbon {
	padding: 0px !important;
    top: 20px !important;
    right: -23px !important;
    width: 103px !important;
}

.single-product .related .ribbon {
    top: 8px !important;
    width: 102px !important;
    right: -24px !important;
}

/*/ REMOVE WP-ADMIN IN DEVELOPMENT MODE*/
/*#wpadminbar {display: none !important}*/