/*
Theme Name: 1stMegasaver
Theme URI: https://oceanwp.org/
Description: 1stMegasaver Custom Theme
Author: 1st Megasaver MIS Team 2019 (Veron,Liaa,Gio)
Author URI: https://oceanwp.org/
Template: oceanwp
Version: 1.0
*/
@import 'style.css';
@import 'style-extended.css';
@import 'style-responsive.css';
@import 'style-mobile.css';
@import 'style-tablet.css';
@import 'style-desktop.css';

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/roboto-regular-webfont.woff') format('woff'), /* Modern Browsers */
         url('fonts/roboto-regular-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;

}

.user_only_css {
   /* disable mouse highlights */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

                                
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
/*/ Hero Title /*/
.elementor-element.hero-title .elementor-widget-container { display: inline-block; }

/*/ Footer Callout /*/
.store-callout .icon-box-icon, .store-callout .icon-box-heading { display: table-cell; vertical-align: middle; }
.store-callout .icon-box-icon { height: 1em; width: 1em; line-height: 1em; }
.store-callout .icon-box-icon i { color: #5b4f4f; font-size: 34px; margin-right: 15px; }
.store-callout .icon-box-heading { font-size: 15px; font-weight: 400; margin: 0; color: #ffffff; letter-spacing: 1px; text-transform: capitalize; }

@media screen and (max-width: 767px) {
    .store-callout .icon-box-icon { display: none; }
    .store-callout .icon-box-heading { display: block; text-align: center; }
}
section#my-brands {
	/*background-image: url("http://192.168.2.230:8080/1stmegasaver/wp-content/uploads/2019/06/hd1.jpg");*/
	height: 100%;
	width: 100%;
}
/*/ Footer Borders /*/
#footer-widgets .contact-info-widget i, #footer-widgets .oceanwp-recent-posts li, #footer-widgets .social-widget li a,
#footer-widgets .woocommerce ul.product_list_widget li { border-color: rgba(255, 255, 255, 0.2); }

/*/ Footer Products /*/
#footer-widgets .price del, #footer-widgets del .amount { color: #ddd; }

/*/ Footer Tags /*/
#footer-widgets .tagcloud a { background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }

#footer-widgets .tagcloud a:hover { background-color: rgba(255, 255, 255, 0.2); color: #fff; border-color: rgba(255, 255, 255, 0.2); }

#footer-widgets .footer-box a {
    color: #929292;
}

/*/ SEARCH BUTTON /*/
.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
  background-color: rgba(255, 255, 255, 0) !important;
  /*border: 1px solid #00afec !important;*/
  font-size: 13px !important; 
  color:#cac8c8 !important;
}
.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus {
    background: rgba(255, 255, 255, 0) !important;
}

.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
  background-color: #00afec !important;
}

.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
      border-color: transparent #00afec transparent !important;
}

.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:hover {
    background-color: #365d9c !important;
    border-color: transparent #365d9c transparent !important;
}

.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:hover:before {
    border-right-color: #365d9c !important;
}
html.html {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

/* HEADER */
#wrap {
	scroll-behavior: smooth !important;
}
#mega-menu-wrap-main_menu {
	color: #19317d;
}

#search-header {
  background-color: #1064B7;
  position: inherit;
}
#custom-site-logo {cursor: pointer;}
/*/ MEGA MENU STATIC/*/

#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item  { 
  border-left: 1px solid #d2cdcd8f;
} 

#mega-menu-wrap-main_menu #mega-menu-main_menu { 
  border-bottom: 1px solid #d2cdcd8f;
  border-top: 1px solid #d2cdcd8f;
   font-family: unset !important;
} 

a.mega-menu-link {
    font-family: "calibri light";
    font-size: 14px !important;
    color: #1064B7 !important;
}

a.mega-menu-link:last-child:hover {
    font-family: "calibri light";
    font-size: 14px !important;
    color: #1064B7 !important;
    background-color: #f2f1f1 !important;
}

#menu-top_customer_service a.menu-link.sf-with-ul:hover {
	/*visibility: visible;*/
	text-decoration: underline;
  cursor: pointer;
}

#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:last-child { 
/*   border-right:  6px solid #00307e !important; 
*/
} 
  
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:first-child { 
/* 	border-left:  1px solid #009ACD !important;
*/
 } 

.mega-sub-menu{    border-top: 3px solid rgb(19, 175, 240) !important;}

/* MENU CATEGORIES - STICKY*/
#mega-menu-wrap-main_menu #mega-menu-main_menu #sticky-mega-menu {
  float:left;
}

#mega-menu-wrap-sticky-menus{
  display: none;
  background-color: #3064b7 !important;
  width: 30%;
  margin-left: -50px;
}

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-item {
  float: left;
}

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-item.mega-toggle-on > a.mega-menu-link {
 background: rgba(255, 255, 255, 0) !important;
}

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-item {
  /*border: 1px solid #ffffff2b !important;*/
  background-color: #3064b7 !important;
}

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-item > a.mega-menu-link{
  color: white !important;
  font-size: 15px !important
}

#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-sticky-menus #mega-menu-sticky-menus > li.mega-menu-item > a.mega-menu-link:focus {
  background-color: #3064b7 !important;
}



#mega-menu-wrap-main_menu #mega-menu-main_menu .woo-menu-icon > a, 
#mega-menu-wrap-main_menu #mega-menu-main_menu .search-toggle-li > a {
     line-height: 0px !important; 
     height: 0px !important; 
     padding: 0px !important;
}


/* BREADCRUMBS */
p#breadcrumbs {
    padding-left: 20px !important;
}

strong.breadcrumb_last {
    color: #1064B7 !important;
   /* font-style: italic;*/
   margin-left: 10px !important;
}

/* STICKY MODE*/
.sticky {
    position: fixed !important;
    top: 0 !important;
    left:0 !important;
    width: 100% !important;
    /*padding: 5px 0 5px 0;*/
    /*background-color: white;*/
    -webkit-box-shadow: 0px 9px 18px -13px rgba(115,115,115,0.87);
    -moz-box-shadow: 0px 9px 18px -13px rgba(115,115,115,0.87);
    box-shadow: 0px 9px 18px -13px rgba(115,115,115,0.87);
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.sticky #mega-menu-wrap-main_menu #mega-menu-main_menu,
.sticky #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item,
.sticky #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:first-child { 
  border:0 !important;
} 



p.elementor-heading-title.elementor-size-default {
    margin-top: 20px !important;
    margin-left: 20px !important;
    visibility: visible;
}
span.elementor-heading-title.elementor-size-default {
    margin-top: 20px !important;
    margin-left: 20px !important;
    visibility: visible;
    font-style: italic;
}

/* HEADER MENU WISHLIST ICON */
#header-wishlist a.wishlist_products_counter.top_wishlist-heart:before, 
#header-wishlist span.wishlist_products_counter.top_wishlist-heart:before, 
#header-wishlist a.sidr-class-wishlist_products_counter.sidr-class-top_wishlist-heart:before {
    content: "\e908" !important;
    font-size: 35px;
}

#header-wishlist a{
  color: #fff !important;
}

#header-wishlist a:hover, .header-menu-short-icon a:hover{
  color: #FFC1C1 !important;
}

#header-wishlist span.wishlist_products_counter_number {
  position: absolute;
  background: #de9100;
  height:2rem;
  top:-7px;
  left:2.2rem;
  width:1.8rem;
  text-align: center;
  line-height: 1.8rem;;
  font-size: 1.5rem;
  border-radius: 50%;
  color:#ffffff;
  border:1px solid #e2e2e2;
  font-style: bold;
  margin-left: 4px !important;
  margin-top: 2px !important;
}

/* HEADER SEARCH TAG CLOUD*/
#search-tag-cloud h5 {
    display: none !important;
}

#search-tag-cloud a.tag-cloud-link {
    border: 0;
    background-color: rgba(0,0,0,0);
    text-transform: lowercase;
    font-size: 9px !important;
    padding: 2px;
    color: #cac8c8;
}
#search-tag-cloud a.tag-cloud-link:hover {
  text-decoration: underline;
}
#search-tag-cloud {
  margin: -4px 0 0 -11px;
}

div#search-tag-cloud {
	word-spacing: 8px !important;
}

/* ORDER TRACKER */
section#my-tracker {
	margin-left: 73px !important;
	margin-right: 73px !important;
}

section#my-track {
	background-color: #1064B7 !important;
}

.elementor-text-editor.elementor-clearfix p {
    color: black !important;
    font-size: 20px !important;
    text-align: center;
}

span.elementor-button-icon.elementor-align-icon-left {
    color: red !important;
}

/* LOG IN / SIGN UP */
a.menu-link {
    display: block;
    position: relative;
    zoom: 1;
    font-size: 12px !important;
}

a.menu-link: hover {
    display: block;
    position: relative;
    zoom: 1;
    font-size: 12px !important;
    text-decoration: underline !important;
    color: white !important;
}

span.fa.fa-fw.field-icon.toggle-password.fa-eye {
    margin-right: 7px !important;
}
span.fa.fa-fw.field-icon.toggle-password.fa-eye:after {
    margin-right: 7px !important;
}
span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash {
	margin-right: 7px !important;
}
span.xoo-el-footer-note {
	visibility: hidden !important;
}

button.button.tinvwl_button_view.tinvwl-btn-onclick {
    background-color: #1064B7 !important;
    color: white !important;
}



#mega-menu-main_menu .bag-style,
#mega-menu-main_menu .wcmenucart-cart-icon .wcmenucart-count,.bag-style{
   background-color: #13aff0 !important;
    color: #fff;
    border-color: #13aff0 !important;
}
#mega-menu-main_menu .wcmenucart-cart-icon .wcmenucart-count:after {
  border: 2px solid #13aff0 !important;
}

/* DIMENSION */
.elementor-6 .elementor-element.elementor-element-9ce1976 {
	margin-top: -9px;
    margin-bottom: 0px;
    width: 100% !important;
    align-items: center !important;
    margin-left: 0px !important;
}

/* CART MENU DROPDOWN */
.woocommerce-mini-cart__empty-message {color: black !important}
.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid.thumbnail {
    width: 10% !important;
}

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid h3 {
    font-size: 11px !important;
}        

.widget_shopping_cart ul.cart_list li .owp-grid-wrap .owp-grid a.remove {
    right: 0 !important;
    width: 20px !important;
    height: 20px !important;
    line-height: 15px !important;
}  

.owp-grid-wrap {
    padding-left: 20px !important;
    padding-top: 15px !important;
}

a.remove.remove_from_cart_button {
	margin-left: 50px !important;
}

a.owp-grid-wrap {
    color: red !important;
}

.cart_totals {
    background-color: white !important;
}
.woocommerce-cart table.cart td.actions button[name='update_cart'] {
    float: right;
    border-radius: 3rem !important;
}
a.checkout-button.button.alt.wc-forward {
    border-radius: 3rem !important;
}
.woocommerce-shipping-fields {
  display: none;
}


/* COUNTDOWN TIMER */

.elementor-6 .elementor-element.elementor-element-48c620f .eael-countdown-digits {
    font-size: 12px !important;
    font-weight: bold !important;
}

.eael-countdown-label-block .eael-countdown-digits, .eael-countdown-label-block .eael-countdown-label {
    display: block;
    text-align: center;
    font-size: 8px !important;
}



/* HOME PRODUCTS ARCHIVE*/
.heading-title-block.heading-1, .heading-title-block.heading-2 {
    border-width: 1px;
    border-style: solid;
}

.heading-title-block {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}


.woocommerce-tabs.wc-tabs-wrapper li.tab-title-description a.tabs-description {
	background-color: white !important;
}

/* HOME PRODUCT LOOP*/
.woocommerce ul.products li.product li.title a {
    font-size: 12px !important;
    text-align: left;
    overflow: hidden;
    width:90%;
    height: 3em;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;  
}    

.woocommerce ul.products li.product .price .amount {
	color: red !important;
}

.woocommerce ul.products li.product .price del .amount {
	color: #666 !important;
	font-size: 12px;
}
span.woocommerce-Price-amount.amount {
    font-size: 15px;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.icon-black.no-txt.tinvwl-position-shortcode.ftinvwl-animated {
    float: left;
    /*margin-left: -70px !important;*/
}

a.button.product_type_variable { /*OUT OF STOCK PRODUCT*/
	border-radius: 3rem !important;
  border: 0px !important;
  font-size: 9px !important;
  text-transform: uppercase !important;
  background-color: #009ACD !important; 
	color: white !important;
	margin-top: 7px !important;
}

a.button.product_type_variable:hover {
	background-color: #bf411d !important;
	color: white !important;
	border: 0px;
}


/* IMAGE PRODUCT */
img.woo-entry-image-main.wp-post-image {
    width: auto !important;
    /*margin: 10% ;*/
    height: 180px;
    padding-top: 10px !important;
    margin-top: 0px !important;
}

img.woo-entry-image-secondary.wp-post-image {
  	width: auto !important;
    /*margin-left: 10px !important;*/
    margin-right: 10px !important;
    height: 140px;
    /*padding-top: 10px !important;*/
    /*margin: 3% !important;*/
}

span.elementor-icon-list-text {
    font-style: italic;
    font-size: 12px !important;
}

a.added_to_cart.wc-forward {
    margin-top: 7px !important;
    visibility: visible;
}



/*PRODUCT GRID-GAP */
.eael-post-grid .woocommerce ul.products, .eael-product-grid .woocommerce ul.products {
    grid-gap: 10px;
}    

.woocommerce ul.products li.product li.title a {
	font-weight: bold !important;
	font-size: 12px !important;
}

.woocommerce ul.products li.product .woo-entry-inner {
	text-align: left;
	margin-top: 0px !important;
	margin-left: 10px !important;
	margin-bottom: 0px;
	margin-right: 0px;
}

/*.woocommerce ul.products li.product:hover {
	opacity: .5;
    filter: alpha(opacity=50);
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}*/

.woocommerce ul.products li.product .woo-entry-inner li {
	margin-bottom: 0px;
	font-size: 10px !important;
}

.elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
  align-items: start;
  width: 100% !important;
}
a.button.apply_now,
a.button.product_type_simple,
a.button.product_type_woosb,
a.button.product_type_variable.add_to_cart_button {
	border-radius: 3rem !important;
    border: 0px !important;
    font-size: 9px !important;
    text-transform: uppercase !important;
    background-color: #009ACD !important; /*deepskyblue 3*/
	color: white !important;
	margin-top: 7px !important;
}

a.button.apply_now:hover,a.button.product_type_simple:hover,a.button.product_type_woosb:hover {
	background-color: #bf411d !important;
	color: white !important;
	border: 0px;
}
a.button.apply_now,
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
a.button.product_type_woosb.add_to_cart_button.ajax_add_to_cart {
	background-color: #009ACD !important; /*deepskyblue 3*/
	color: white !important;
	margin-top: 7px !important;
}

a.button.apply_now,
a.button.product_type_woosb.add_to_cart_button.ajax_add_to_cart:hover,
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover,
a.button.product_type_variable.add_to_cart_button:hover  {
	background-color: #bf411d !important;
	color: white !important;
	border: 0px;
}

#easy-inhouse-wrapper {
  display: block;
}

/*a.button.product_type_variable.add_to_cart_button {
	border-radius: 3rem !important;
    border: 0px !important;
    font-size: 9px !important;
    text-transform: uppercase !important;
    background-color: #009ACD !important; 
	color: white !important;
	margin-top: 7px !important;
}*/


/*a.button.product_type_variable.add_to_cart_button:hover {
	background-color: #bf411d !important;
	color: white !important;
	border: 0px;
}*/

.outofstock-badge {
    margin-top: 98px !important;
    margin-left: 24px !important;
    visibility: visible;
    position: fixed;
}

/* FILTERING */


.oceanwp-toolbar.clr {
	background-color: white !important;
}


.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart.tinvwl-loop-button-wrapper {
    margin-top: 0px !important;
    /*right: 0px !important;*/
}
a.tinvwl_add_to_wishlist_button.tinvwl-icon-custom.icon-black.no-txt.tinvwl-position-after.ftinvwl-animated.no-lightbox {
    margin-top: 7px !important;
}

h2.entry-title {
    color: black !important;
}

p.selected {
    color: black !important;
}

.conflict-icon-font-awesome i {
    font-family: Fontawesome;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-position-after {
/*	margin-left: 10px !important;
	margin-right: 30px !important;
	height: 10px;
	width: 15px;
	margin-top: 280px !important;*/
}
.tinv-lists-nav.tinv-wishlist-clear {
   float: right !important;
}
/* WISHLIST - NEXT BUTTON */
a.button.tinv-next {
     width: 300px !important;
}

span.onsale {
	margin-top: -15px;
	margin-left: 80px;
	background-color: #e45a0a !important;
}

span.menu-text {
	font-size: 12px !important;
}

span.menu-text:hover {
	text-decoration-line: underline;
	color: white !important;
}

span.dgwt-wcas-sku {
	font-size: 10px !important;
}
span.dgwt-wcas-details-title-tax {
	color: black !important;
	font-style: normal !important;
}
.dgwt-wcas-si img {
	height: 80px !important;
	width: 90px !important;
}

.dgwt-wcas-suggestions-wrapp.woocommerce.dgwt-wcas-has-img.dgwt-wcas-has-price.dgwt-wcas-has-desc.dgwt-wcas-has-sku: hover {
	color: #1064B7 !important;
}

span.dgwt-wcas-st-title {
	color: darkblue !important;
	font-size: 13px;
	margin-left: 5px;
	letter-spacing: 1.3px !important;
}
span.dgwt-wcas-sku {
	margin-left: 5px;
}
span.dgwt-wcas-sd {
	margin-left: 5px;
}
.dgwt-wcas-content-wrapp {
	padding-left: 0px !important;
	/*margin-left: 20px !important;*/
}
.dgwt-wcas-suggestion.dgwt-wcas-suggestion-product {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.dgwt-wcas-is-details .dgwt-wcas-si {
    width: 83px !important;
}   

span#minimizeChatMinifiedBtn {
    background-color: #1064B7 !important;
}
/* STORE LOCATOR */

img.attachment-full.size-full.wp-post-image {
    margin-top: 15px !important;
}
.elementor-image-box-wrapper {
    background-color: white !important;
    margin-top: 20px !important;
}

h3.elementor-image-box-title {
    background-color: #1064B7 !important;
    color: white !important;
    font-size: 14px !important;
    padding-top: 13px;
    padding-bottom: 13px;
}

p.elementor-image-box-description {
    color: black !important;
    margin-left: 12px !important;
    margin-right: 10px !important;
    height: 130px;
    text-align: left !important;
    font-size: 12px !important;
}

/*span.elementor-button-text {
    color: red !important;
}

span.elementor-button-text:hover {
    color: black !important;
    font-style: italic;
    text-decoration: underline;
}
*/
a.elementor-button-link.elementor-button.elementor-size-sm {
    background-color: #009ACD !important;
}

/* MY WISHLIST */
.tinv-wishlist .tinv-header h2 {
    color: #000000;
    font-size: 20px;
}
body.page-id-944 {
    font-family: robotoregular !important;
    font-style: normal !important;
    font-size: 13px !important;
}
.tinv-wishlist table th { text-transform: uppercase; }
table.tinvwl-table-manage-list {
    border-width: 1px;
    border-style: solid;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-color: #eaeaea;
}

.tinv-wishlist table th {
    padding: 1em;
    vertical-align: middle;
}
 .tinv-wishlist table th {
    border: 0px !important;
 }
.tinv-wishlist table, .tinv-wishlist table td, .tinv-wishlist table th {
    border-bottom-color: rgb(233, 233, 233) !important;
    border-bottom: 1px solid #e9e9e9 !important;
}

.tinv-wishlist table input[type="checkbox"] {
    margin: -3px 10px !important;
}
.tinv-wishlist button {
  padding: 10px 15px !important;
}
.tinvwl-to-left.look_in button,.tinvwl-to-right.look_in button {
    padding: 10px 20px !important;
}

.tinv-wishlist table tfoot td {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.tinv-wishlist button {
  font-size: 12px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}
/*=================================*/
/* WISHLIST - NEXT BUTTON */
a.button.tinv-next {
  border-radius: 3rem !important;
  width: 300px !important;
}
a.button.wc-backward {
    border-radius: 3rem !important;
}
button.button.alt {
	background-color: #009ACD !important;
	opacity: 50;
}

button.button.alt:hover {
	background-color: #009ACD !important;
}
button.button.tinvwl-break-checkbox.alt {
    border-radius: 3rem !important;
}
button.button.alt {
    border-radius: 3rem !important;
}
button.button.tinvwl-break-input.tinvwl-break-checkbox {
    border-radius: 3rem !important;
    float: left !important;
    margin-left: -268px ;
}
select#tinvwl_product_actions {
    width: 145px !important;
}

/* QUICK VIEW */

.owp-quick-view:hover {
    background-color: #00307e;
}
p.stock.out-of-stock {
    color: white !important;
}

img.attachment-shop_single.size-shop_single.wp-post-image {
    margin-top: 20px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.woocommerce div.product div.summary, .woocommerce.content-full-width div.product div.summary {
    width: 50%;
}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    margin-left: : 40px !important;
    margin-right: 20px !important;
}

input#quantity_5cf6139dc46d2 {
    font-weight: bold;
    color: black !important;
}

.clear-after-summary.clr {
    background-color: white !important;

}

p.price.cs-external {
    margin-left: 15px !important;
}

a.minus {
    background-color: #c9d4d8 !important;
    font-size: 25px !important;
    font-weight: bold;
	color: black !important;
}

a.plus {
    background-color: #c9d4d8 !important;
    font-size: 25px !important;
    font-weight: bold;
    color: black !important;
}

p.stock.in-stock {
    font-size: 12px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

div#tab-description {
    background-color: white !important;
    color: black !important;
}

input#quantity_5cf8633cae466 {
    width: 80px !important;
}

/* CHECKOUT */
form.woocommerce-form.woocommerce-form-login.login {
    background-color: white !important;
    padding:5px !important;
}

form.woocommerce-form.woocommerce-form-login.login p {
    color: black !important;
}
ul.woocommerce-error {
   /* background-color: #009ACD !important;*/
}

ul.woocommerce-error li {
    color: white !important;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
	background-color: white !important;
	font-size: 18px !important;
	font-weight: bold;
	color: #1064B7;
}

section.woocommerce-order-details {
	background-color: white !important;
	padding-left: 40px !important;
}

.custom_shipping_details {
  background: white !important
}


div#customer_shipping_details {
	background-color: white !important;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
	padding-left: 10px !important;
	padding-top: 10px !important;
}

.woocommerce .woocommerce-checkout .woocommerce-billing-fields h3,
.woocommerce .woocommerce-checkout h3#order_review_heading {
  margin: 0px !important;
}
ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
	background-color: white !important;
}

button.button.tinvwl-break-input.tinvwl-break-checkbox {
	background-color: #009ACD !important;
	color: white !important;
}

.page-id-282 #breadcrumbs {
  display:none
}
.page-id-282 #main #content-wrap, .single-product #main #content-wrap{
  padding: 0px !important;
}

#customer_details{
    width:40% !important;float:left;
}
#order_review_heading{
    width: 58% !important;
    float: left;
}
#order_review{
    width: 58% !important;
    float: left;
    padding-right: 50px;
}

.woocommerce-checkout #payment ul.payment_methods .wc_payment_method > label {
  padding: 0px;
  font-size: 12px;
}

.woocommerce-billing-fields h3,
#order_review_heading {
    background-color: #ececec !important;
    padding: 10px
}
.woocommerce-billing-fields__field-wrapper,
.woocommerce-checkout > .col2-set > .col-2,
#order_review,
.woocommerce-checkout-payment  {
  background-color: white !important;
  padding: 10px;
}
.shipping-notice {
  text-transform: Capitalize;
  display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}
.woocommerce #order_review table.shop_table thead th {
    padding: 5px 19px !important;
    font-size: 12px !important;
}
.woocommerce #order_review table.shop_table td {
   font-size: 12px !important;
}
.woocommerce-checkout p.woocommerce-invalid-required-field span.error {
   color: #e2401c;
   display: block !important;
   font-weight: bold;
}
/* END CHECKOUT PAGES */

/* ACCOUNT */
.woocommerce-MyAccount-tabs.clr {
    background-color: white !important;
    padding: 10px;
}

.woocommerce-MyAccount-content {
    background-color: white !important;
    padding: 10px;
}
.woocommerce-MyAccount-tabs .oceanwp-user-profile .user-info .name {
  font-size: 14px
}
.u-column1.col-1.woocommerce-Address {
	background-color: white !important;
}

.u-column2.col-2.woocommerce-Address {
	background-color: white !important;
}

/* FAQ */
.elementor-tab-title a{
	color: #838B8B !important;
}

/* EASY IN-HOUSE */
div#elementor-tab-title a {
	color: red !important;
}

/* FOOTER CONTENTS*/
ul#menu-footer-policies li{
  border-bottom: 0 !important;
}
ul#menu-footer-about li{
  border-bottom: 0 !important;
}
ul#menu-footer-help li{
  border-bottom: 0 !important;
}

ul#menu-footer-policies li a, ul#menu-footer-about li a {
	font-size: 13px !important;
  line-height: 0.4;
  margin-left: 10px !important;
  font-weight: 350;
}

div.footer-box li a , .footer-widget div.textwidget{
  font-weight: 350;
  font-size: 13px !important;
}

h4.widget-title {
    color: #66e7ef !important;
    /*font-weight: bold;*/
    visibility: visible;
}
img.attachment-thumbnail.size-thumbnail.wp-post-image {
    visibility: visible;
    display: inline-block;
    height: 23px !important;
}

.oceanwp-mail-text {
    color: white !important;
    font-size: 12px !important;
}

#mc4wp-form-1 input.email {
    background-color: #ffffff00 !important;
}

button.button-newsletter {
	background-color: #009ACD !important;
	position: relative;
	visibility: visible;
	top: 10px !important;
	left: 0px !important;
	width: calc(100% - 1px);
}

.oceanwp-newsletter-form-wrap button:hover {
	color: black !important;
}

.textwidget p,#newsletter-title {
        /*color: white !important;*/
    font-size: 13px !important;
    font-weight: 350;
}

.textwidget p {
    margin-left: 10px !important;
}

a.menu-link {
	margin-left: 30px !important;
}

/* BUYERS GUIDE */
h3.elementor-image-box-title {
    border-radius: 3rem !important;
}

.elementor-heading-title.elementor-size-small:hover {
	font-style: italic;
}


/*  <--INFORMATION WEBSITE-->  */

li.btn-wrap.clr, button.single_add_to_cart_button.button.alt, .quantity.buttons_added, .tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart, li.woo-menu-icon.wcmenucart-toggle-drop_down.bag-style.toggle-cart-widget, span.wishlist_products_counter_number, a.wishlist_products_counter.top_wishlist-heart.top_wishlist-.no-txt.wishlist-counter-with-products, li#menu-item-2264, li#menu-item-952 {
    /*display: none !important;*/
}

div#mega-menu-wrap-sticky-menus {
    display: none !important;
}

.elementor-1069 .elementor-element.elementor-element-0134020 > .elementor-widget-container {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

/* 7/23/19 */

  span.tinvwl_add_to_wishlist-text, 
  span.tinvwl_remove_from_wishlist-text {
    /*display: none !important;*/
  }

  .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button, .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.icon-white:before, .woocommerce div.product form.cart .tinvwl_add_to_wishlist_button.icon-black:before {
    color: #f906a2;
    font-size: 30px !important;
    margin-top: -10px !important;
  }

  .woosb-price-ori {
    margin-top: -25px !important;
  }

  .woocommerce div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: static !important;
  }

.blockUI .blockOverlay {z-index: 3 !important;}

.sale-discount-price-loop {
    background-color: #48a02b;
    display: inline;
    font-size: 66%;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    width: 23%;
    top: 15%;
    left: 3%;
}
.sale-discount-price-single {
    position: absolute;
    margin-top: -25px;
    background-color: yellow;
    padding: 0 5px;
    border-left: 3px solid orange;
}
.woocommerce ul.products li.product li.category {display: none !important}

.brands-logo-single {
    width: 10%;
    left: 50px;
    position: absolute;
    top:5px;
    z-index:3;
}    

.brands-logo-shop-loop , section.related .brands-logo-single{
  width:40% !important;
  position: absolute;
  top:5px;
  left:5px !important;
  z-index:3;
}


#owp-qv-wrap .woosb-products {
  display: none;
}

#owp-qv-wrap p#easy-inhouse-wrapper img {
  display: inline-block;
  width:20%;
}

.product-note {
  font-weight: bold;
}

/* DEMO STORE */

a.woocommerce-store-notice__dismiss-link , .demo_store a{
  display: none !important;
}

#footer-bottom {margin-bottom: 50px}

#chat_with_us {
  cursor: pointer;
    padding: 5px 20px;
    background: #1064b7;
}

#chat_with_us:after {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f4ad';
}

.single-product .product_meta {
  display: none !important;
}

p#easy-inhouse-wrapper img {
    margin-right: 10px;
}

a.single_apply_now {
    background-color: #fe0000;
    padding: 3px 7px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
}

.woocommerce-notices-wrapper ul li:before {
  cursor: pointer;
}

#add_to_cart_with_qty {
    display: inline-block !important;
}

#add_to_cart_with_qty a{
    font-size: 12px !important;
}

#add_to_cart_with_qty a:before{
    font-size: 20px !important;
}

#add_to_cart_with_qty a, #add_to_cart_without_qty a {
  border-radius: 22px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #3fc387;
    text-decoration: none !important;
    padding: 8px 20px;
    color: white;
    margin-top: 0 !important;
    margin-left: 10px;
}

/* COLOR */
.text-danger {
  color: red;
}


/* TEMPORARY */
.dgwt-wcas-pd-addtc>.quantity,
.tinv-wishlist table .product-stock,
.tinv-wishlist table .product-action,
.tinv-wishlist tfoot .tinvwl-to-right 
{
  display: none !important;
}
