
@media only screen and (max-width: 767px) {

  .page-id-4996 .eael-advance-tabs.eael-tabs-vertical div.eael-tabs-nav,
  .page-id-4996 .eael-advance-tabs.eael-tabs-vertical ul  {
    -webkit-box-flex: 1;
    -webkit-flex: 1 30% !important;
    -ms-flex: 1 30% !important;
    flex: 1 30% !important;
    margin-top: -36px !important;
    margin-left: -10px !important;
  }

  .page-id-4996 .eael-tabs-nav {
    float: left;
    width: 30%;
  }

  .page-id-4996 .eael-tab-top-icon {
    float: left;
  }

  .page-id-4996 .eael-tabs-content {
    float: left;
    width: 70%;
    margin-top: -117px !important;
    margin-left: -100px !important;
    margin-right: 0px !important;
    overflow-y: scroll !important;
  }

  header#search-header {
    height: 98px !important;
  }
  div#header-promo {
    display: none;
  }

  div#header-easyinhouse {
    display: none;
  }

  div#header-wishlist {
    display: none;
  }

  div#header-promo,
  div#header-easyinhouse,
  div#header-wishlist,
  #search-tag-cloud,
  #mega-menu-wrap-sticky-menus,
  p#breadcrumbs  {
      display: none;
  }

  .owp-quick-view {display:none}

}

@media (min-width: 481px) and (max-width: 767px) {

	.product-template-default .brands-logo-single {
    width: 28% !important;
    left: 7px !important;
    top: 40px;
	}


  .tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart {
    float: none !important;
  }


  .mobile-landscape-hide {
    display: none;
  }

 /* .sticky-logo-image {
    width: 80% !important;
    margin: 0 auto;
  }
  .sticky-search {
    width: 90% !important;
    margin: 0 auto;
  }
  */
  .sticky-search-suggestions {
    margin-left: 12px !important;
  }

  /*.sticky-cats {
    display: inline-block !important;
    width: 32% !important;
    right: 0 !important;
    margin-right: -200px !important;
  }*/

    .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
      grid-template-columns: repeat(3,1fr);
    }
  div#header-promo {
      height: 50% !important;
      width: 93% !important;
  }

  .clear-space {
      margin-top: 13px;
  }

  .ribbon {
    top: 10px;
    right: -34px;
    font-size: 9px !important;
    padding: 1.5px;
    background: #ED9121 !important;
    color: white !important;
    font-weight: bold !important;
    -webkit-box-shadow: 0 0 3px #888;
    -moz-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
  }

  .eael-advance-tabs.eael-tabs-vertical div.eael-tabs-nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1 30% !important;
    -ms-flex: 1 30% !important;
    flex: 1 30% !important;
  }

}

@media (min-width: 426px) and (max-width: 480px) {
  
  a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.icon-black.no-txt.btn-wishlist.tinvwl-position-shortcode.ftinvwl-animated {
    margin-top: -21px !important;
  }

}

@media screen and (max-width: 425px) {

  #newsletter_knees {
    display: block !important;
    height: 183px;
  }
  .textwidget-one {
    color: white;
    font-weight: bold;
    padding: 7px 7px 4px 5px;
    margin-top: 5px !important;
    background-color: #3064b7 !important;
    text-align: center;
    display: block !important;
  }

  div#mc4wp_form_widget-3 {
    background-color: #4287bf !important;
    display: none;
  }

  h4#footer-widgets {
    display:none;
  }

  .footer-box .span_1_of_4 .col .col-4 {
    display: none
  }

  .top-newsletter {
    margin-bottom: -60px !important;
    background-color: #1064B7;
    padding: 20px 20px 30px 20px
  }

  .textwidget-newsletter {
    color: white;
    padding: 5px 7px 0 5px;
    text-align: center
  }


  button.button-newsletter {
    /*height: 40px !important;*/
    position: inherit !important;
    width: 50% !important;
    margin-top: 10px !important;
    margin-left: 25% !important 
  }

   .clear-space {
      margin-top: 13px;
  }

  .custom-menu-widget .oceanwp-custom-menu>ul>li { display: inline-block !important; }

  p.demo_store span 
  {
    display: block;
  }

  #chat_with_us {
    text-align:center;
  }
  .demo_store:before {
    display:none;
  }

}

@media (min-width: 420px) and (max-width: 425px) {

  .woocommerce-billing-fields__field-wrapper, .woocommerce-checkout > .col2-set > .col-2, #order_review, .woocommerce-checkout-payment {
    width: 249% !important;
  }

  .woocommerce-checkout #order_review {
    float: none !important;
    width: 100% !important;
  }

   .elementor-6 .elementor-element.elementor-element-d702334 > .elementor-widget-container {
    padding-bottom: 20px !important;
  }

  .search_query, .clear_search, #searchform {
     position: relative;
     padding: 0px !important;
     margin-left: 8px !important;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 { 
      width: 400px !important;
  }

  .woocommerce ul.products li.product .product-inner {
      overflow: hidden;
  }

  p.price.cs-simple {
      padding-top: 10px !important;
  }

  .single_product_title h1.product_title.entry-title{
    color: #13aff0;
      color: black !important;
      visibility: visible;
      margin-top: 15px !important;
      margin-bottom: -60px !important;
  }

  button.single_add_to_cart_button.button.alt {
    margin-left: 25px !important;
  }

  .elementor-6 .elementor-element.elementor-element-587de72 .eael-product-grid .woocommerce ul.products li.product {
      margin-bottom: 36px !important;
  }

  a.flex-next {
      display: none;
  }

  a.flex-prev {
      display: none;
  }

  h4.widget-title {
    margin-bottom: 3px !important;
  }

  div#footer-widgets a.menu-link {
    line-height: 3px !important;
  }

  div#text-5 {
/*    margin-top: -47px !important;
    margin-left: -20px !important;
*/  }

  div#ocean_custom_menu-* {
    margin-left: -20px !important;
  }


  .textwidget p { /*FOR CONTACT US*/
    margin-left: 10px !important;
    line-height: 18px !important;
  }

  div#mc4wp_form_widget-3 {
    background-color: #4287bf !important;
    display: none;
  }

  h4#footer-widgets {
    display: none;
  }

  div#copyright.clr {
    font-size: 12px !important;
    margin-bottom: 4px !important;
    margin-top: -4px !important;
  }

  div#gallery-1 {
    /*margin-bottom: -63px !important;*/
    /*margin-left: 20px !important;*/
  }

  div#media_gallery-5 h4 {
    display: none;
  }

}
@media (min-width: 321px) and (max-width: 767px) {
  .widget-area.sidebar-primary, .widget-area.sidebar-secondary, .content-left-sidebar .widget-area {
    height: 0px;
    visibility: hidden;
  }

  img.attachment-shop_catalog.size-shop_catalog.wp-post-image {
    margin-bottom: 29px !important;
  }

}


/* 5.5 inches and UP */
@media (min-width: 360px) and (max-width: 375px) {

  
  .elementor-4996 .elementor-element.elementor-element-b25babc .eael-advance-tabs .eael-tabs-nav > ul li {
      background-color: #ffffff;
      color: #333;
      border-bottom-color: red !important;
  }

  span.eael-tab-title {
    margin-left: -5px !important;
    font-size: 11px !important;
  } 

  ul.eael-tab-top-icon {
    width: 70px !important;
  }

  div.eael-advance-tabs.eael-tabs-vertical div.eael-tabs-nav>ul li::after {
    border: none !important;
  }

  .elementor-4996 .elementor-element.elementor-element-b25babc .eael-advance-tabs .eael-tabs-nav > ul li.active {
    background-color: #1064B7;
    color: #fff;
  }

  form.woocommerce-form.woocommerce-form-login.login {
    margin-top: -30px !important;
  }

  .woocommerce .oceanwp-loginform-wrap h2 {
    display: none;
  }

  span.owp-account-link.current {
    font-size: 22px !important;
    margin-left: -260px !important;
  }

  /* UP - 7/19/19 */

  .elementor-6 .elementor-element.elementor-element-d702334 > .elementor-widget-container {
    padding-bottom: 21px !important;
  }

  /* UP - 7/18/19 */

  ol.flex-control-nav.flex-control-paging {
    display: none !important;
  }

  .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button, .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button.icon-white:before, .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button.icon-black:before {
    color: #007acc;
    margin-top: -8px !important;
  }

  div#ocean_custom_menu-7 {
   /* margin-top: -179px !important;
    margin-left: 157px !important;*/
  }

  a.tinvwl_add_to_wishlist_button.tinvwl-icon-custom.icon-black.no-txt.tinvwl-product-in-list.tinvwl-product-make-remove.tinvwl-position-after.ftinvwl-animated.no-lightbox {
      margin-top: -80px !important;
  }

  .elementor-3463 .elementor-element.elementor-element-678531d > .elementor-widget-container {
    margin-top: 155px;
  }

  .eael-product-grid.eael-product-default {
      margin-left: -19px !important;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
      /*width: 310px !important;*/
      height: 246px !important;
  }

  ul.products.eael-product-columns-6 {
    height: 230px !important;
  }

  .woocommerce ul.products li.product .product-inner {
      overflow: hidden;
      :-webkit-overflow-scrolling hidden;

      /*padding-bottom: 89px !important;*/
  }

  p.price.cs-simple {
      padding-top: 10px !important;
  }

  .single_product_title h1.product_title.entry-title{
      color: #13aff0;
      color: black !important;
      visibility: visible;
      margin-top: 15px !important;
      margin-bottom: -60px !important;
  }

  .elementor-6 .elementor-element.elementor-element-587de72 .eael-product-grid .woocommerce ul.products li.product {
    margin-bottom: 36px !important;
  }

  button.single_add_to_cart_button.button.alt {
    margin-left: 13px !important;
  }

  .ribbon {
      top: 10px;
      right: -34px;
      font-size: 9px;
      padding: 1.5px;
      background: #ED9121 !important;
      color: white !important;
      font-weight: bold !important;
      -webkit-box-shadow: 0 0 3px #888;
      -moz-box-shadow: 0 0 3px #888;
      box-shadow: 0 0 3px #888;
  }

  a.flex-next {
      display: none;
  }

  a.flex-prev {
    display: none;
  }

  h4.widget-title {
    margin-bottom: 3px !important;
  }

  div#footer-widgets a.menu-link {
    line-height: 3px !important;
  }

  div#text-5 {
/*      margin-top: -47px !important;
      margin-left: -20px !important;
*/  }

  div#ocean_custom_menu-* {
    margin-left: -20px !important;
  }

  .textwidget p {
      margin-left: 10px !important;
      line-height: 18px !important;
  }  

  h4#footer-widgets {
    display: none
  }

  div#copyright.clr {
    font-size: 12px !important;
    margin-bottom: 4px !important;
    margin-top: -4px !important;
  }

  div#gallery-1 {
/*    margin-bottom: -63px !important;
    margin-left: 20px !important;
*/  }

  div#media_gallery-5 h4 {
    display: none;
  }

}


@media (min-width: 320px) and (max-width: 480px) {

	.product-template-default .brands-logo-single {
    width: 28% !important;
    left: 7px !important;
    top: 40px;
	}

    .tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart {
    float: none !important;
  }

  .woo-entry-image-swap.woo-entry-image.clr, .woo-entry-image.clr {
    margin-left: 18px !important;
    visibility: visible !important;
  }

  i.icon_big_times {
    display: none !important;
  }

  .tinv-txt {
    color: #fff;
    opacity: 1;
    filter: contrast(1.5) !important;
  }

  .tinv-modal-inner {
    height: 195px !important;
    width: 295px !important;
    opacity: 0.6;
    background-color: #000000 !important;
  }

  img.woo-entry-image-secondary.wp-post-image {
    display: none !important;
  }

  img.woo-entry-image-main.wp-post-image {
    margin-left: 10px !important;
    height: 100px !important;
    width: 78% !important;

  }

  .elementor-6 .elementor-element.elementor-element-e9610b1 > .elementor-widget-container{
  padding: 0px 14px 22px 15px;
  }

  .elementor-6 .elementor-element.elementor-element-4f47d4a > .elementor-widget-container{
  padding: 0px 14px 22px 15px;
  }


  .woocommerce ul.products li.product.outofstock .outofstock-badge {
   top: -26px;
    left: 7px;
    font-size: 8.50px;

  }

  .elementor-3463 .elementor-element.elementor-element-678531d > .elementor-widget-container {
  margin-top: 159px;
  }

  .search_query, .clear_search, #searchform {
     position: relative;
     padding: 0px !important;
     margin-left: 8px !important;
  }


  .elementor-3305 .elementor-element.elementor-element-6a12a77 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-3305 .elementor-element.elementor-element-05f49bf .elementor-image img {
    margin-right: 45px;
    width: 55%;
  }

  #main {
    position: relative;
    margin-top: 20px;
  }

  .woocommerce div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    z-index: 1;
    position: absolute;
    top: 255px;
    right: 1px;
  }

  button.button.tinvwl-break-input.tinvwl-break-checkbox {
  /*    border-radius: 3rem !important;
    float: left !important;*/
    margin: 0px !important;
  }

  .woocommerce ul.products li.product .product-inner {
    overflow: hidden;
    /*padding-bottom: 20px !important;*/
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
    grid-template-columns: repeat(6,1fr) !important;
    overflow-x: scroll !important;
    -ms-overflow: none !important;
    -webkit-overflow: none !important;
    overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
    height: 226px !important;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6::-webkit-scrollbar {
    display: none; 
  }

  .products .product .tinv-wraper.tinv-wishlist {
    /*top: 180px !important;*/
  }

  .woocommerce ul.products li.product .button, .woocommerce ul.products li.product .product-inner .added_to_cart {
    padding-left: 10px;
    padding-top: 4px;
  }

  .mobile-hide {
    display: none;
  }

  header#search-header {
    height: 98px !important;
  }

  div#header-promo {
    display: none;
  }

  div#header-easyinhouse {
    display: none;
  }

  div#header-wishlist {
    display: none;
  }

  .metaslider.ms-theme-outline .flexslider ul.flex-direction-nav li a::before, .metaslider.ms-theme-outline a.rslides_nav::before, .metaslider.ms-theme-outline div.nivoSlider div.nivo-directionNav a::before, .metaslider.ms-theme-outline .coin-slider .coin-slider div a::before {
      top: 85% !important;
      height: 11px !important;
  }

  .metaslider.ms-theme-outline .flexslider ol.flex-control-nav:not(.flex-control-thumbs) li a {
      height: 8px !important;
      width: 5px !important;
    }

  #slide-banner-wrapper {
    box-sizing: content-box !important;
    width: 100% !important;
    position: relative !important;
  }

  #home-banner-01, #home-banner-02, #home-banner-03, #home-banner-04 {
      width: 50%;
      max-width: 50%;
  }

  span.menu-text {
      display: none;
    }

  #cart-mobile-column {
      float:left;
      margin-left: 10px !important
      width: 150px !important;
  }

  .cart-mobile-icon {
      display: inline-block;
      position: relative !important;
      margin-left: 30px !important;
      margin-top: 5px !important;
      float: left
  }

  .user-mobile-icon, .user-logged-mobile-icon  {
      float: left !important;
      display: inline-block;
      position: relative !important;
      margin-left: 5px !important;
      margin-top: 5px !important;
  }

  .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
      border-radius: inherit !important;
  }



  .elementor-page-6 .eael-product-grid .woocommerce ul.products li.product {
      width:140px !important;
      /*height: 20px !important;*/
  }


  .woocommerce ul.products.eael-product-columns-6 {
    float: left !important;
  }



  .woocommerce ul.products li.product .price {
      font-size: 13px !important;
  }

  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
      font-size: 8px !important;
  }

  a.button.product_type_variable.add_to_cart_button,
  .elementor-6 .eael-product-grid .woocommerce li.product .button.add_to_cart_button,
  .elementor-6 .button.product_type_variable,
  .elementor-6 .button.product_type_simple {
      padding: 3px 11px;
      font-size: 8px !important;
  }

  .woocommerce ul.products li.product .price del .amount {
      font-size: 11px !important;
  }

  .ribbon {
    top: 10px;
      right: -34px;
      font-size: 9px !important;
      padding: 1.5px;
      background: #ED9121 !important;
      color: white !important;
      font-weight: bold !important;
      -webkit-box-shadow: 0 0 3px #888;
      -moz-box-shadow: 0 0 3px #888;
      box-shadow: 0 0 3px #888;
  }

  .eael-product-grid.eael-product-default {
      margin-left: -19px !important;
  }

}


@media screen and (max-width: 320px) {

	.product-template-default .brands-logo-single {
    width: 28% !important;
    left: 7px !important;
    top: 32px !important;
	}

	.sale-discount-price-loop{
		padding: 0px !important;
	}
  
  .widget-area.sidebar-primary, .widget-area.sidebar-secondary, .content-left-sidebar .widget-area {
    height: 0px;
    visibility: hidden;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products li.product {
    width: 128px !important;
  }

  .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button, .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button.icon-white:before, .woocommerce ul.products li.product .tinvwl_add_to_wishlist_button.icon-black:before {
    color: #007acc;
    margin-top: -10px !important;
  }

  .woocommerce .woocommerce-checkout #customer_details h3 {
    text-align: center;

  }

  div#ocean_custom_menu-7 {
    /*margin-top: -179px !important;
    margin-left: 157px !important;*/
  }

  .woocommerce-billing-fields h3, .woocommerce-billing-fields__field-wrapper, .woocommerce-checkout > .col2-set > .col-2, #order_review, #order_review_heading, .woocommerce-checkout-payment {
    background-color: white !important;
    padding: 10px;
    width: 291px !important;
  }

  /*YOUR ORDER HEADER AT CHECKOUT*/
  .woocommerce .woocommerce-checkout h3#order_review_heading {
    visibility: hidden;
  }

  .elementor-6 .elementor-element.elementor-element-93b79f9 > .elementor-widget-container {
      padding: 22px 14px 9px 15px;
  }
    .woocommerce ul.products li.product .product-inner {
    padding-bottom: 28px !important;
  }

  .tinv-wishlist .tinv-modal .tinv-modal-inner, .tinv-wishlist .tinv-modal .tinv-modal-inner select {
    padding: 6px;
    font-family: inherit;
    margin-left: 14px;
    margin-right: 99px;
  }

  div#header-promo {
    display: none;
  }

  div#header-easyinhouse {
    display: none;
  }

  .eael-product-grid.eael-product-default {
    margin-left: -19px !important;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
    grid-template-columns: repeat(3,1fr);
    overflow-x: scroll !important;
  }

  p#breadcrumbs {
    display: none !important;
  }

  .woocommerce ul.products li.product .product-inner {
    margin-left: 8px !important;
    overflow: hidden;
    padding-bottom: 28px !important;
  }

  p.price.cs-simple {
    padding-top: 10px !important;
  }

  .easy {
    margin-top: 29px !important;
  }

  .single_product_title h1.product_title.entry-title{
    color: #13aff0;
    color: black !important;
    visibility: visible;
    margin-top: 15px !important;
    margin-bottom: -60px !important;
  }

  a.flex-next {
    display: none;
  }

  a.flex-prev {
    display: none;
  }

  a.remove {
    float: left;
  }

  .woocommerce-cart .woocommerce table.shop_table tr td {
    display: flow-root !important;
  }

  .woocommerce-cart table.cart img {
      width: auto;
      max-width: 60px;
      margin-top: -50px !important;
      float: left;
      margin-left: 40px !important;
  }

  td.product-remove {
      border-bottom: none !important;
  }

  #main #content-wrap {
      padding-top: 0px;
      padding-bottom: 50px;
      margin-top: -25px !important;
  }

  td.product-name {
      color: black !important;
  }

  td.product-quantity {
    color: black !important;
  }

  td.product-subtotal {
    color: black !important;
  }

  .woocommerce-cart .woocommerce table.shop_table tr td.product-quantity .quantity {
      float: left;
      margin-left: 18px !important;
  }

  .product-inner.clr {
    margin-bottom: -28px !important;
  }

  h4.widget-title {
    margin-bottom: 3px !important;
  }

  div#footer-widgets a.menu-link {
      line-height: 3px !important;
    }

  div#text-5 {
/*      margin-top: -47px !important;
      margin-left: -20px !important;
*/  }

  div#ocean_custom_menu-* {
      margin-left: -20px !important;
  }

  .textwidget p { 
      margin-left: 10px !important;
      line-height: 18px !important;
  }

  div#mc4wp_form_widget-3 {
    background-color: #4287bf !important;
      display: none;
  }

  h4#footer-widgets {
    display: none;
  }

  div#copyright.clr {
      font-size: 12px !important;
      margin-bottom: 4px !important;
      margin-top: -4px !important;
  }

  div#gallery-1 {
/*      margin-bottom: -63px !important;
      margin-left: 20px !important;
*/  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products.eael-product-columns-6 {
    grid-template-columns: repeat(6,1fr) !important;
    overflow-x: scroll !important;
    -ms-overflow: none !important;
    /*width: 310px !important;*/
    height: 226px !important;
  }

  .elementor-page-6 .eael-product-grid .woocommerce ul.products li.product {
      width:140px !important;
  }
  .woo-entry-image.clr {
    width: 85% !important;
  }
  span.woocommerce-Price-amount.amount {
    font-size: 12px !important;
  }

  .ribbon {
      top: 10px;
      right: -34px;
      font-size: 9px !important;
      padding: 1.5px;
      background: #ED9121 !important;
      color: white !important;
      font-weight: bold !important;
      -webkit-box-shadow: 0 0 3px #888;
      -moz-box-shadow: 0 0 3px #888;
      box-shadow: 0 0 3px #888;
  }

  .page-id-4996 .eael-advance-tabs.eael-tabs-vertical div.eael-tabs-nav,
  .page-id-4996 .eael-advance-tabs.eael-tabs-vertical ul  {
      -webkit-box-flex: 1;
      -webkit-flex: 1 30% !important;
      -ms-flex: 1 30% !important;
      flex: 1 30% !important;
  }

  .page-id-4996 .eael-tabs-nav {
      float: left;
      width: 30%;
  }

  ul.eael-tab-top-icon {
      width: 68px !important;
      margin-left: 17px !important;
      margin-top: 44px !important
  }

  span.eael-tab-title {
      margin-left: -6px !important;
    }

  span.eael-tab-title {
    font-size: 10px !important;
  }

  .page-id-4996 .eael-tab-top-icon {
    float: left;
  }

  .page-id-4996 .eael-tabs-content {
    float: left;
    width: 60%;
  }

  div#eael-advance-tabs-b25babc {
      margin: -74px 5px 0 -20px;
    }


  ul.eael-tab-top-icon {
      overflow-x: hidden !important;
      overflow-y: scroll !important;
  }

  .eael-tabs-content {
      position: fixed;
      margin-left: 60px !important;
  }

  .elementor.elementor-5011 {
      width: 250px !important;
      height: 100% !important;
  }

  figcaption.widget-image-caption.wp-caption-text {
      width: 84px !important;
  }

  .elementor-4996 .elementor-element.elementor-element-b25babc .eael-advance-tabs .eael-tabs-nav > ul li i {
      font-size: 16px;
      color: #1064B7;
  }

  .elementor-4996 .elementor-element.elementor-element-b25babc .eael-advance-tabs .eael-tabs-nav > ul li i: hover {
      font-size: 16px;
      color: white !important;
  }

  .elementor-4996 .elementor-element.elementor-element-b25babc .eael-advance-tabs .eael-tabs-nav > ul li {
      background-color: #e2e2e2;
      color: #000;
  }

  button.button-newsletter {
    position: inherit !important;
    width: 80% !important;
    margin-left: 5% !important 
  }

}

/* FOOTER */
@media (min-width: 320px) and (max-width: 425px) {
  #footer-bottom {
    /*padding: 10px 0 0 0 !important;*/
    /*margin-bottom: 80px !important;*/
  }
}

@media (max-width: 480px) {
  #footer-bottom {
      padding: 10px 0 10px 0 !important;
  }
}

@media (max-width: 375px) {
 /* #footer-bottom {
      padding: 10px 0 30px 0 !important;
  }*/
}
/* HOT PICKS */
@media(max-width: 360px) {
  #hot-picks-title {font-size:15px !important;}
}