.mfp-bg {
	z-index: 104200;
	-webkit-transform: translateZ(0);
}

.mfp-wrap {
	z-index: 104300;
}

/* Zoom effect */
.mfp-with-zoom {
	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		-webkit-backface-visibility: hidden;
		@include transition( all .3s ease-out );
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {
		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

.mfp-zoom-out-cur {
    & {
	    cursor: -moz-default;
	    cursor: -webkit-default;
	    cursor: default;
	}

    .mfp-image-holder .mfp-close {
    	width: 20px;
	    cursor: -moz-pointer;
	    cursor: -webkit-pointer;
	    cursor: pointer;
		@include transition( all .3s ease );
	}
}

/* Fade effect */
.mfp-fade {
	&.mfp-bg {
		opacity: 0;
		@include transition( all .15s ease-out );

		&.mfp-ready {
			opacity: 0.8;
		}

		&.mfp-removing {
			opacity: 0;
		}
	}

	&.mfp-wrap {
		.mfp-content {
			opacity: 0;
			@include transition( all .15s ease-out );
		}

		&.mfp-ready .mfp-content {
			opacity: 1;
		}

		&.mfp-removing .mfp-content {
			opacity: 0;
		}
	}
}